 * {
     border: 0;
     padding: 0%;
     box-sizing: border-box;
 }


 header ul {
     gap: 90px;
     margin-left: 870px;
     padding: 20px;
 }

 .main-image {
     position: relative;
     top: -80px;
     z-index: 1;
 }

 .main-image img {
     width: 100%;
     height: auto;
 }

 .main {
     background-color: burlywood;
 }

 .navbar {
     position: relative;
     z-index: 2;
     background-color: rgba(158, 44, 44, 0) !important;
 }

 .navbar-brand {
     color: white;

 }

 .overlay-text {
     position: absolute;
     top: 450px;
     right: 30px;

 }

 /* From Uiverse.io by alexmaracinaru */
 .cta {
     position: relative;
     margin: auto;
     padding: 12px 18px;
     transition: all 0.2s ease;
     border: none;
     background: none;
     cursor: pointer;
 }

 .cta:before {
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     display: block;
     border-radius: 50px;
     background: #eceff0;
     width: 45px;
     height: 45px;
     transition: all 0.3s ease;
 }

 .cta span {
     position: relative;
     font-family: "Ubuntu", sans-serif;
     font-size: 18px;
     font-weight: 700;
     letter-spacing: 0.05em;
     color: #234567;
 }

 .cta svg {
     position: relative;
     top: 0;
     margin-left: 10px;
     fill: none;
     stroke-linecap: round;
     stroke-linejoin: round;
     stroke: #234567;
     stroke-width: 2;
     transform: translateX(-5px);
     transition: all 0.3s ease;
 }

 .cta:hover:before {
     width: 100%;
     background: #fff;
 }

 .cta:hover svg {
     transform: translateX(0);
 }

 .cta:active {
     transform: scale(0.95);
 }

 .head {
     position: absolute;
     left: 640px;
     font-size: 30px;
     font-weight: bolder;
     padding: 20px;
     height: 90px;
     width: 340px;
     color: black;
 }

 .featured1 {
     margin-top: 70px;
     padding: 30px;
     background-color: #450808;
     display: flex;
     justify-content: space-evenly;
     height: 300px;
     border-radius: 20px;
 }

 h5 {
     text-align: center;
     color: black;
 }

 .carosel {
     position: relative;
     top: 250px;
     left: 300px;
     height: 500px;
     width: 500px;
 }
 .about{
    position: relative;
    top: -300px;
    left: 370px;
    width: 500px;
     
 }
 .footer{
    position: relative;
    top: 200px;
    text-align: center;
    background-color: burlywood;
    padding: 20px;

 }
a {
    text-decoration: none;
}

.dp-img{
    height: 50px;
    width: 50px ;
    border-radius: 50%;
margin-left: 90px;
 }

 .btn{
    margin-left:220px ;
 }